.root-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 98%;
  padding: 1em;
}

.theme-toggle-button{
  position: absolute;
  margin: auto;
  width: fit-content;
  padding: 0px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 1.5px;
  background-color: var(--body-bg-color);
}